* {
  margin: 0;
  font-family: Arial;
  border: border-box;
}

nav {
  height: 60px;
  width: 100%;
  background-color: #0f1111;
  display: flex;
  color: white;
  justify-content: space-evenly;
  align-items: center;
}

.nav-logo {
  height: 60px;
  width: 125px;
}

.logo {
  background-image: url("../img/logo.png");
  background-size: cover;
  height: 50px;
  width: 125px;
}

.border {
  border: 2px solid transparent;
  padding: 10px 5px 10px 5px;
}

.border:hover {
  border: 2px solid white;
}

.nav-address {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 3px;
}

#deliver {
  display: flex;
  justify-content: flex-end;
  color: #cccccc;
  font-size: 13px;
  margin-right: 6px;
}

.address-icon {
  display: flex;
  font-size: 15px;
  gap: 6px;
  color: white;
  font-weight: bold;
}

.nav-search {
  display: flex;
  width: 850px;
  height: 40px;
  border-radius: 3px;
  background-color: #e6e6e6;
  border: 1.5px solid transparent;
}

.nav-search:hover {
  border: 1.5px solid orange;
}

.search-select {
  background-color: #cccccc;
  width: 50px;
  color: #464343;
  text-align: center;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  border: none;
}

.search-select:hover {
  background-color: #999999;
  color: black;
}

.search-input {
  width: 100%;
  font-size: 16px;
  padding-left: 10px;
  border: none;
}

.search-icon {
  background-color: rgb(255, 165, 0, 0.6);
  width: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.search-icon:hover {
  background-color: rgb(255, 165, 0, 1);
}

.nav-sign-in {
  border-radius: 3px;
}

.sign-in-accounts {
  display: flex;
  gap: 5px;
  font-size: 15px;
  font-weight: bold;
}

#sign-in-text {
  font-size: 13px;
}

#returns-text {
  font-size: 13px;
}

#returns-icon {
  font-size: 15px;
  font-weight: bold;
}

.nav-cart {
  display: flex;
  gap: 5px;
  align-items: center;
}

.cart-icon {
  font-size: 1.5rem;
}

.cart-text {
  font-size: 15px;
  font-weight: bold;
}

.panel-menu p {
  font-size: 15px;
  font-weight: bold;
}

.panel {
  display: flex;
  background-color: #232f3e;
  height: 40px;
  width: 100%;
  color: white;
  align-items: center;
  /* padding: 0 0px 0 20px; */
}

.panel-menu {
  display: flex;
  gap: 5px;
  padding-left: 20px;
}

.panel-options {
  display: flex;
  gap: 15px;
  padding: 0 0 0 10px;
  font-size: 14px;
}

/* hero section */

.hero-section {
  background-image: url("../img/hero.jpg");
  height: 500px;
  background-size: cover;

  /* width: 95%; */
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.hero-msg {
  background-color: white;
  width: 90%;
  text-align: center;
  padding: 5px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 200px;
  border-radius: 5px;
}

.hero-msg a {
  text-decoration: none;
}

/* Shop section */

.shop {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  position: relative;
  bottom: 970px;
}
.box {
  border: 2px solid transparent;
  background-color: white;
  height: 420px;
  width: 330px;
}
main {
  height: 1500px;
}

.box h2 {
  font-size: 22px;
}
.grey-background {
  background-color: #cccccc;
  height: 800px;
}

.shop a {
  text-decoration: none;
  font-size: 13px;
}
.box1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  align-items: center;
}
.r2 {
  margin-top: 50px;
}

.sub-boxes4 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.pad-box a {
  color: black;
}
.pad-box {
  padding: 10px;
  font-size: 12px;
}

.sub-boxes1-3 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.shop-titles {
  color: #2162a1;
}

.footer-pannel1 a {
  display: inline-block;
  text-decoration: none;
  text-align: center;
  line-height: 50px;
  font-size: 13px;
  width: 100%;
  height: 50px;
  margin-top: 20px;
  border: none;
  background-color: #344f6f;
  color: white;
}

.footer-pannel1 a:hover {
  background-color: #45668d;
  cursor: pointer;
}

.recommendations-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  position: relative;
  bottom: 830px;
}

.recommendations-content button {
  background-color: rgb(255, 210, 11);
  border: none;
  width: 240px;
  height: 30px;
  border-radius: 18px;
}

.recommendations-content button:hover {
  background-color: rgb(230, 189, 3);
  cursor: pointer;
}

.recommendations-content p {
  font-size: 11px;
}

.footer-pannel2-1 {
  height: 350px;
  background-color: #232f3e;
  color: white;
  display: flex;
  justify-content: space-evenly;
}

.sub-pannel {
  font-weight: bold;
  margin: 40px 0 15px 0;
  font-size: 18px;
}

.footer-pannel2-1 ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer-pannel2-1 ul a {
  text-decoration: none;
  color: white;
  font-size: 14px;
}

.footer-pannel2-1 ul a:hover {
  text-decoration: underline;
}
.footer-pannel2-2 {
  height: 100px;
  background-color: #232f3e;
}

#line-above {
  height: 1px;
  background-color: #cccccc33;
  border: none;
}

.footer-pannel2 {
  background-color: #232f3e;
}

.amazon-logo-footer img {
  height: 90px;
  background-size: cover;
}
